html, body {
    height: 100%;
}

.container {
    position: relative;
    top: 50%;
    transform: translateY(-100%);
    text-align: center;
}
.preload {
    width: 100px;
    height: 100px;
    align-content: center;
    position: fixed;
    top: 50%;
    left: 50%;
}
/*Star Rating*/
.show-result {
    margin: 10px;
    padding: 10px;
    color: green;
    font-size: 20px;
}

.star-rating s:hover,
.star-rating s.active {
    color: red;
}
.star-rating s,
.star-rating-rtl s {
    color: black;
    font-size: 50px;
    cursor: default;
    text-decoration: none;
    line-height: 50px;
}
.star-rating {
    padding: 2px;
}
.star-rating s:hover:before,
.star-rating s.rated:before,
.star-rating s.active:before {
    content: "\2605";
}
.star-rating s:before {
    content: "\2606";
}

/*Table*/
thead{
    width: 80%;
}