html, body {
    background-image: url('./img/redland.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: 100%;
}
header{
    display: flex;
    justify-content: center;
    color: ghostwhite;
}
#movieTable{
    background: rgba(159,93,99, .95);
    color: ghostwhite;
}
.container {
    position: relative;
    top: 50%;
    text-align: center;
    margin-bottom: 30px;
}
.preload {
    width: 100px;
    height: 100px;
    align-content: center;
    position: fixed;
    top: 50%;
    left: 50%;
}
/*Table*/
thead{
    width: 80%;
}